@model ICollection<Agent>
@{
	int count = 1;
}

<div class="container">
	<h1>Agents</h1>
	<a class="btn btn-primary" asp-action="Create">Create</a>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col">Position</th>
				<th scope="col">Image</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<th scope="row">@count</th>
					<td>@item.Name</td>
					<td>@item.Position.Name</td>

					<td>
						<div style="width:100px">
							<img width="100%" src="~/upload/agent/@item.ImageUrl" />
						</div>
					</td>

					<td>
						<a class="btn btn-secondary" asp-action="Update" asp-route-id="@item.Id">Update</a>
						<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
					</td>
				</tr>
				count++;
			}

		</tbody>
	</table>

</div>
